*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: monospace, sans-serif;
    font-weight: 400;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    font-size: 100px;
}
